{% extends "::base.html.twig" %}

{% block title %}Lista przychodów{% endblock %}

{% block body %}
    <h2>Twoje przychody</h2>

    <table class="table table-hover table-condensed table-striped table-bordered">
        
        <th class="text-center">Opis</th>
        <th class="text-center">Kategoria</th>
        <th class="text-center">Wielkość</th>
        <th class="text-center">Data</th>
        <th class="text-center">Na konto</th>
        <th class="text-center">Usunięcie</th>
        <th class="text-center">Modyfikacja</th>
            {% for income in incomes %}
            <tr class="text-center">
                
                <td>{{income.description}}</td> 
                <td>{{income.incomeCategory.name}}</td> 
                <td>{{income.amount}}</td>
                <td>{{ income.incomeDate|date("d/m/Y")}}</td>
                <td>{{income.account.name}}</td>
                <td>
                    <a href="{{ path('delete_income', {"id" : income.id}) }}">usuń</a>
                </td>  
                <td>
                    <a href="{{ path('modify_income', {"id" : income.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <a href="{{ path('new_income') }}">Dodaj nowy przychód</a>
    <br>
    <br>
    <a href="{{ path('show_allExpends') }}">Wydatki</a>
    <br>
    <br>
    <a href="{{ path('show_allAccounts') }}">Konta</a>
    <br>
    <br>
    <a href="{{ path('Panel') }}">Strona główna</a>
    <br>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
