{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja przychodu{% endblock %}

{% block body %}
   
<h2>Wprowadź modyfikację przychodu</h2>

{{ form_start(form) }}
{% if message %}
        <span class="help-block">    
            <ul class="list-unstyled">
                <li>
                    <span class="warning glyphicon glyphicon-exclamation-sign"></span> 
                    <span class="warning">{{  message }}</span>
                </li>
            </ul>
        </span>
    {% endif %}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        
        jQuery(document).ready(function() {
            
            $('.js-datepicker').datepicker({ 
                format: 'yyyy-mm-dd',
                startDate: '-1000d'
            });
        });
    </script>
{% endblock %}