{% extends "::base2.html.twig" %}

{% block title %}Potwierdzenie{% endblock %}

{% block body %}
    <h2>Potwierdź usunięcie poniższego konta</h2>

    <p>Nazwa: {{account.name}}</p> 
    <p>Saldo: {{account.balance}}</p>
    <p>Typ: {{account.type.name}}</p>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}

