{% extends "::base.html.twig" %}

{% block title %}Modyfikacja konta{% endblock %}

{% block body %}
<h2>Wprowadź nowe dane</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

<br>
<a href="{{ path('show_allAccounts') }}">Powrót na poprzednią stronę</a>
<br>
<br>
<a href="{{ path('new_type') }}">Dodaj nowy typ</a>
<br>
<br>

<a href="{{ path('Panel') }}">Strona główna</a>
<br>
<br>
<a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
