{% extends "::base.html.twig" %}

{% block title %}Nowe Konto{% endblock %}

{% block body %}
<h2>Podaj dane dla nowego konta</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}


<br>
<a href="{{ path('new_type') }}">Dodaj nowy lub modyfikuj typ</a>
<br>
<br>
<a href="{{ path('Panel') }}">Strona główna</a>
<br>
<br>
<a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>


{% endblock %}
