{% extends "::base.html.twig" %}

{% block title %}Lista kont{% endblock %}

{% block body %}
    <h1>{{message}}</h1>
    <h2>Lista Twoich kont</h2>
    <table class="table table-hover table-condensed table-striped table-bordered">
        
        <th class="text-center">Nazwa</th>
        <th class="text-center">Saldo</th>
        <th class="text-center">Cel</th>
        <th class="text-center">Typ</th>
        <th class="text-center">Usunięcie</th>
        <th class="text-center">Modyfikacja</th>

        {% for account in accounts %}
            <tr class="text-center">
                
                <td>{{account.name}}</td> 
                <td>{{account.balance}}
                    <a href="{{ path('transfer_Money', {"id" : account.id}) }}">Przenieś środki na inne konto</a>
                </td>

                <td>{{account.aim}}</td>
                <td>{{account.type.name}}</td>
                <td>
                    <a href="{{ path('delete_Account', {"id" : account.id}) }}">usuń</a>
                </td>
                <td>
                    <a href="{{ path('modify_Account', {"id" : account.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>  
    <h3>Suma środków na Twoich kontach: {{balance}} PLN</h3>
    <br>
    <a href="{{ path('new_Account') }}">Dodaj nowe konto</a>
    <br>
    <br>
    <a href="{{ path('show_allExpends') }}">Wydatki</a>
    <br>
    <br>
    <a href="{{ path('show_allIncomes') }}">Przychody</a>
    <br>
    <br>
    <a href="{{ path('Panel') }}">Strona główna</a>
    <br>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>


{% endblock %}
