{% extends "::base.html.twig" %}

{% block title %}Nowa kategoria{% endblock %}

{% block body %}
    <h2>Wprowadź nową kategorię dla wydatku</h2>


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>Lista Twoich kategorii</h2>
    <table>
        <th></th>
        <th>Nazwa</th>
        <th>Status</th>

        {% for exCategory in exCategories %}
            <tr>
                <td>
                    <a href="{{ path('modify_exp_category', {"id" : exCategory.id}) }}">modyfikuj</a>
                </td>
                <td>{{exCategory.name}}</td>
                <td>
                    {% if exCategory.status == 1 %}
                        aktywna
                    {% else %}
                        nieaktywna
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>



    <br>
    <a href="{{ path('new_expend') }}">Powrót na poprzednią stronę</a>
    <br>
    <br>
    <a href="{{ path('Panel') }}">Strona główna</a>
    <br>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
