{% extends "::base2.html.twig" %}

{% block title %}Nowa kategoria{% endblock %}

{% block body %}
    {% if exCategories == false %}
        <h3>Na początek możesz dodać najczęściej spotykane kategorie wydatków</h3>
        <a href="{{ path('add_exp_categories')}}">
            <button>Dodaj kategorie</button>
        </a>

    {% endif %}
    <h3>Wprowadź nową kategorię dla wydatku</h3>


    {{ form_start(form) }}
    {% if message %}
        <span class="help-block">    
            <ul class="list-unstyled">
                <li>
                    <span class="warning glyphicon glyphicon-exclamation-sign"></span> 
                    <span class="warning">{{  message }}</span>
                </li>
            </ul>
        </span>
    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <h2>Lista Twoich kategorii</h2>
    <table class="table table-hover table-condensed table-striped table-bordered">

        <th class="text-center">Nazwa</th>
        <th class="text-center">Status</th>
        <th class="text-center">Modyfikacja</th>
            {% for exCategory in exCategories %}
            <tr class="text-center">
                <td>{{exCategory.name}}</td>
                <td>
                    {% if exCategory.status == 1 %}
                        aktywna
                    {% else %}
                        nieaktywna
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('modify_exp_category', {"id" : exCategory.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
