{% extends "::base.html.twig" %}

{% block title %}HBBundle:IncomeCategory:modifyIncCategory{% endblock %}

{% block body %}
<h2>Wprowadź zmiany dla kategorii</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}


    <br>
    <a href="{{ path('new_income') }}">Dodaj nowy przychód</a>
    <br>
    <br>
    <a href="{{ path('Panel') }}">Strona główna</a>
    <br>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>
{% endblock %}
