{% extends "::base2.html.twig" %}

{% block title %}Nowa kategoria przychodu{% endblock %}

{% block body %}
    
    
   
    <h2>Wprowadź nową kategorię dla przychodów</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <h2>Lista Twoich kategorii</h2>
    <table class="table table-hover table-condensed table-striped table-bordered">
        
        <th class="text-center">Nazwa</th>
        <th class="text-center">Status</th>
        <th class="text-center">Modyfikacja</th>

        {% for inCategory in inCategories %}
            <tr class="text-center">
                
                <td>{{inCategory.name}}</td>
                <td>
                    {% if inCategory.status == 1 %}
                        aktywna
                    {% else %}
                        nieaktywna
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('modify_inc_category', {"id" : inCategory.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
