{% extends "::base2.html.twig" %}
{%block head %}
    {{ parent() }}

    {% block title %}Lista Wydatków{% endblock %}
{% endblock %}
{% block body %}

    <h2>Twoje wydatki</h2>
    <script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
    <script src="https://www.amcharts.com/lib/3/pie.js"></script>
    <script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
    <script src="https://www.amcharts.com/lib/3/themes/light.js"></script>


    <!-- Chart code -->

    <script>
        {% autoescape false %}
            var data
            = {{ data }};
        {% endautoescape %}

                    var chart = AmCharts.makeChart("chartdiv", {
                        "type": "pie",
                        "startDuration": 0,
                        "theme": "light",
                        "addClassNames": true,
                        "legend": {
                            "position": "right",
                            "marginRight": 100,
                            "autoMargins": false
                        },
                        "innerRadius": "30%",
                        "defs": {
                            "filter": [{
                                    "id": "shadow",
                                    "width": "200%",
                                    "height": "200%",
                                    "feOffset": {
                                        "result": "offOut",
                                        "in": "SourceAlpha",
                                        "dx": 0,
                                        "dy": 0
                                    },
                                    "feGaussianBlur": {
                                        "result": "blurOut",
                                        "in": "offOut",
                                        "stdDeviation": 5
                                    },
                                    "feBlend": {
                                        "in": "SourceGraphic",
                                        "in2": "blurOut",
                                        "mode": "normal"
                                    }
                                }]
                        },
                        "dataProvider": data,
                        "valueField": "amount",
                        "titleField": "name",
                        "export": {
                            "enabled": false
                        }
                    });

            chart.addListener("init", handleInit);

            chart.addListener("rollOverSlice", function (e) {
                handleRollOver(e);
            });

            function handleInit() {
                chart.legend.addListener("rollOverItem", handleRollOver);
            }

            function handleRollOver(e) {
                var wedge = e.dataItem.wedge.node;
                wedge.parentNode.appendChild(wedge);
            }
    </script>

    <div id="chartdiv"></div>

    <table class="table table-hover table-condensed table-striped table-bordered">

        <th class="text-center">Opis</th>
        <th class="text-center">Kategoria</th>
        <th class="text-center">Koszt</th>
        <th class="text-center">Data</th>
        <th class="text-center">Z konta</th>
        <th class="text-center">Usunięcie</th>
        <th class="text-center">Modyfikacja</th>
            {% for expend in expends %}
            <tr class="text-center">

                <td>{{expend.description}}</td>
                <td>{{expend.expendCategory.name}}</td>
                <td>{{expend.amount}}</td>
                <td>{{ expend.expendDate|date("d/m/Y")}}</td>
                <td>{{expend.account.name}}</td>
                <td>
                    <a href="{{ path('delete_expend', {"id" : expend.id}) }}">usuń</a>
                </td>
                <td>
                    <a href="{{ path('modify_expend', {"id" : expend.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
