{% extends "::base2.html.twig" %}

{% block title %}Potwierdzenie{% endblock %}

{% block body %}
    <h3>Potwierdź usunięcie poniższego wydatku</h3>

    <p>Opis: {{expend.description}}</p> 
    <p>Kategoria: {{expend.expendCategory.name}}</p>
    <p>Kwota: {{expend.amount}}</p>
    <p>Data: {{expend.expendDate|date("d/m/Y")}}</p> 
    <p>Z konta: {{expend.account.name}}</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}  

{% endblock %}

