{% extends "::base2.html.twig" %}

{% block title %}Modyfikacja wydatku{% endblock %}

{% block body %}
    <h1>{{message}}</h1>
<h2>Wprowadź modyfikację wydatku</h2>

{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        
        jQuery(document).ready(function() {
            
            $('.js-datepicker').datepicker({ 
                format: 'yyyy-mm-dd',
                startDate: '-1000d'
            });
        });
    </script>
{% endblock %}