{% extends "::base.html.twig" %}

{% block title %}Nowy wydatek{% endblock %}

{% block body %}
    <h1>{{message}}</h1>
    <h2>Wprowadź nowy wydatek</h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <br>

    <a href="{{ path('new_exCategory') }}">Dodaj nową lub modyfikuj kategorię</a>
    <br>
    <br>
    <a href="{{ path('show_allExpends') }}">Powrót na poprzednią stronę</a>
    <br>
    <br>
    <a href="{{ path('Panel') }}">Strona główna</a>
    <br>
    <br>
    <a href="{{ path('fos_user_security_logout') }}">Wyloguj</a>

    
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        
        jQuery(document).ready(function() {
            
            $('.js-datepicker').datepicker({ 
                format: 'yyyy-mm-dd',
                startDate: '-1000d'
            });
        });
    </script>
{% endblock %}

