{% extends "::base2.html.twig" %}

{% block title %}Nowy typ{% endblock %}

{% block body %}

    {% if types == false %}
        <h3>Na początek możesz dodać najczęściej spotykane typy kont</h3>
        <a href="{{ path('add_new_types')}}">
            <button>Dodaj typy kont</button>
        </a>

    {% endif %}

    <h3>Wprowadź nowy typ konta</h3>


    {{ form_start(form) }}
    {% if message %}
        <span class="help-block">    
            <ul class="list-unstyled">
                <li>
                    <span class="warning glyphicon glyphicon-exclamation-sign"></span> 
                    <span class="warning">{{  message }}</span>
                </li>
            </ul>
        </span>
    {% endif %}
    {{ form_widget(form) }}
    {{ form_end(form) }}    

    <h3>Lista Twoich typów</h3>
    <table class="table table-hover table-condensed table-striped table-bordered">

        <th class="text-center">Nazwa</th>
        <th class="text-center">Status</th>
        <th class="text-center">Modyfikacja</th>
            {% for type in types %}
            <tr class="text-center">

                <td>{{type.name}}</td>
                <td>
                    {% if type.status == 1 %}
                        aktywny
                    {% else %}
                        nieaktywny
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('modify_type', {"id" : type.id}) }}">modyfikuj</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
